<html>
	<head>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.4/angular.min.js"></script>

	</head>
	<body>
	<!-- 
		$scope =  its a root object, to controlling the variables and functions
	-->
		<div ng-app="ang" ng-controller="ctrl">
			<select ng-model="num">
				<option>Select Number of rows</option>
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
				<option>6</option>
				<option>7</option>
			</select>
			<input type="text" ng-model="search">
			
			<table border="1" cellpadding="10" cellspacing="0" width="50%">
				<tr><td ng-click="sortData('id')">ID</td><td ng-click="sortData('name')">Name</td><td ng-click="sortData('email')">Email</td><td ng-click="sortData('salary')">Salary</td></tr>
				<tr ng-repeat="data in students|limitTo:num|filter:search"><td>{{data.id}}</td><td>{{data.name|uppercase}}</td><td>{{data.email|lowercase}}</td><td>{{data.marks|currency}}</td></tr>
			</table>
			
		</div>
		<script>
			var angular=angular.module('ang',[]);
			angular.controller('ctrl',function($scope){
				$scope.students=[{name:'james',marks:534,id:100,email:'jAMes@gmail.com'},{name:'suresh',marks:434,id:101,email:'suresh@gMAl.com'},{name:'raINA',marks:464,id:102,email:'raina@gmail.COM'},{name:'sri',marks:531,id:103,email:'sri@gMAIl.com'},{name:'Bel',marks:531,id:104,email:'bel@gMAIl.com'},{name:'rock',marks:501,id:106,email:'rock@gMAIl.com'},{name:'vimal',marks:531,id:103,email:'vimal@gMAIl.com'}];
				
				
				
			});
		</script>
		
	</body>
</html>